@charset "UTF-8";
:root {
	/*使用しない場合も必ず設定*/
	--i_bg_color: #f1eeeb; /*背景色*/
	--i_txt_color: #4c4c4c; /*テキスト*/
	--i_main_color: #b7997f; /*メイン*/
	--i_sub_color: #9b816b; /*アクセント*/
	--i_sub2_color: #fffefe; /*薄い色*/
	--i_btn_color: #454545; /*ボタン*/
	--i_btn_hover_color: #393939; /*ボタンhover*/
	--i_btn_txt_color: #fff; /*ボタンテキスト*/
	--i_btn_hover_txt_color: #fff; /*ボタンテキスト*/
	--i_shadow_color: rgba(0, 0, 0, 0.05); /*シャドウ*/
	--i_border_color: rgba(0, 0, 0, 0.13); /*ボーダー*/
	--i_noimg_bg_color: #fff; /*画像無し*/
	--i_padding: 20px; /*左右余白*/
}
@media screen and (max-width: 500px) {
	:root {
		--i_padding: 20px;
		/*左右余白*/
	}
}
/*------------------------------------------------------------------*/
/*-----------------------------base---------------------------------*/
/*------------------------------------------------------------------*/
html {
	font-size: 62.5%;
}
body {
	font-size: 1.65rem;
	line-height: 1.9;
	letter-spacing: 0.02rem;
	-webkit-text-size-adjust: 100%;
	color: var(--i_txt_color);
	font-weight: 500;
}
body {
	background: var(--i_bg_color);
}
main {
	background: none !important;
}
@media screen and (max-width: 850px) {
	html {
		font-size: 60.606%;
	}
	body {
		letter-spacing: 0px;
	}
}
a {
	outline: 0;
	text-decoration: none;
	color: var(--i_txt_color);
}
section[style*=" color:"]:not([style*=" color: inherit"]) a, 
div[style*=" color:"]:not([style*=" color: inherit"]) a {
	color: inherit;
}
/*composite_boxの最大高さとトリミングの起点*/
/*基本はjsにより各カラム中から最大の画角に設定*/
.composite_box01 .inner_item_img img {
	object-position: 50% 50%;
	font-family: 'object-position: 50% 50%;';
}
@media screen and (max-width: 850px) {
	#sidebar {
		border: 5px solid var(--i_sub2_color) !important;
	}
}
.no_img {
	background: var(--i_noimg_bg_color, rgba(200, 200, 200, 0.3));
	border: 1px solid var(--i_border_color);
}
/*----------------------------loader----------------------------*/
#load div:nth-of-type(1) {
	background: var(--i_bg_color);
}
#load .loader, 
.popup .loader {
	border: 1px solid var(--i_main_color);
	/*★*/
}
#load .loader,
#load .loader::before, 
.popup .loader,
.popup .loader::before {
	border-top-color: var(--i_main_color);
}
#load .loader::before,
#load .loader::after, 
.popup .loader::before, 
.popup .loader::after {
	/*★*-1*/
	left: -1px;
	top: -1px;
}
#load .loader,
.popup .loader {
	border: 1px solid var(--i_main_color);
	/*★*/
}
#load .loader,
#load .loader::before, 
.popup .loader, 
.popup .loader::before {
	border-top-color: var(--i_main_color) !important;
}
#load .loader::before,
#load .loader::after,
.popup .loader::before, 
.popup .loader::after {
	/*★*-1*/
	left: -1px;
	top: -1px;
}
#load img {
	max-width: 180px;
	max-height: 180px;
}
@media screen and (max-width: 650px) {
	#load img {
		max-width: 130px;
	}
}
/*----------------------------header----------------------------*/
header {
	font-size: 1.5rem;
	color: var(--i_txt_color);
}
body.scrolled header {
	background: rgba(255, 255, 255, 0.9);
}
header h1 {
	line-height: 1.5;
	font-size: 1.3rem;
	font-weight: normal;
	opacity: 0.7;
}
body.scrolled header .logo {
	padding: 10px 0 !important;
}
header .logo, 
header .logo a {
	max-width: 190px;
}
body.scrolled header .logo a img {
	max-height: 110px;
}
header .header_contents .header_col1 {
	/* ▼水平方向レイアウト */
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
header .header_contents .header_col1 .tel {
	position: relative;
	font-size: 26px;
	line-height: 1;
	padding-left: 26px;
	font-weight: 500;
}
header .header_contents .header_col1 .tel svg, 
header .header_contents .header_col1 .btn .translate a svg, header .burger li.sp_translate a svg, 
header .header_contents .header_sns li svg {
	fill: var(--i_txt_color) !important;
}
header .sp_menu a div span,
header .sp_menu a div:before,
header .sp_menu a div:after {
	background: var(--i_txt_color);
}
header .header_contents .header_col1 .tel svg {
	width: 22px;
	height: 22px;
	top: calc(50% - 11px);
	left: 0;
	fill: var(--i_txt_color) !important;
}
header .header_contents .header_col1 .btn > a {
	display: inline-block;
	text-align: center;
	background: var(--i_btn_color);
	border: 1px solid var(--i_btn_color);
	color: var(--i_btn_txt_color);
	padding: 7px 10px 8px;
	transition: 0.4s ease-in-out;
	font-weight: 500;
	border-radius: 99px
}
header .header_contents .header_col1 .btn > a:hover {
	opacity: 1;
	background: var(--i_btn_hover_color);
	border: 1px solid var(--i_btn_hover_color);
}
header .header_contents .header_col1 .btn > a[target="_blank"]::before, 
header .header_contents .header_col1 .btn > a[target="_blank"]::after {
	border-color: var(--i_btn_txt_color);
}
header .header_contents .header_col1 .btn .translate a svg {
	max-width: 74%;
	max-height: 74%;
	margin: 13% auto 0;
}
header .header_contents .header_col1 .tel a,
header .header_contents .header_col1 .tel span {
	color: var(--i_txt_color);
}
header .header_contents .header_col1 .btn .translate a:hover {
	opacity: 0.8;
}
header nav * {
	color: var(--i_txt_color);
}
header#pattern2.width_full nav {
	padding-right: 0 !important;
}
header nav ul.nav_1st {
	max-width: 1600px !important;
	/*任意*/
}
body.scrolled header nav ul.nav_1st {
	border-bottom: 0;
}
header .wraper {
	max-width: 1600px;
}
header#pattern2:not(.width_full) nav {
	max-width: 1600px;
}
header nav ul.nav_1st > li {
	box-sizing: border-box;
	position: relative;
	flex-grow: 1 !important;
}
header nav ul.nav_1st > li span {
	position: relative;
}
body.scrolled header nav ul.nav_1st > li span:after {
	display: none;
}
header nav ul.nav_1st > li:after { /*罫線*/
	content: "";
	width: 1px;
	height: 70%;
	position: absolute;
	top: 15%;
	left: 0;
}
header nav ul.nav_1st > li:last-child:before { /*罫線*/
	content: "";
	width: 1px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: 0;
}
header nav ul.nav_1st > li > a {
	font-size: 1.5rem;
	font-weight: 500;
	position: relative;
	padding-left: 1vw;
	padding-right: 1vw;
	overflow: visible;
}
header nav ul.nav_1st > li > a span {
	/*ナビの高さはline-heightで調整*/
	line-height: 5;
	/* マージン普通選択時 */
	letter-spacing: 0.1rem;
	font-weight: 500;
	font-size: 1.5rem;
	transition: 0.4s ease-in-out;
}
body.scrolled header:not(.nofixed) nav ul.nav_1st > li > a span {
	line-height: 2.5;
}
header nav ul.nav_1st > li > a:hover span {
	color: var(--i_main_color);
}
header#pattern2 nav ul.nav_1st > li > a span {
	line-height: 3;
}
body.scrolled header#pattern2 nav ul.nav_1st > li > a span {
	line-height: 3;
}
body.margin header nav ul.nav_1st > li > a span {
	line-height: 4;
	/* マージン広い選択時 */
}
header nav ul.nav_2nd {
	padding-top: 20px;
}
header nav ul.nav_1st > li:hover ul.nav_2nd {
	padding-top: 10px;
}
header nav ul.nav_2nd > li {
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.13);
	box-shadow: 2px 2px 5px var(--i_shadow_color);
}
header nav ul.nav_2nd > li:nth-last-of-type(1) {
	border-bottom: none;
}
header nav ul.nav_2nd li a {
	padding: 10px 20px;
	font-weight: normal;
	font-size: 1.4rem;
}
header nav ul.nav_2nd > li > a {
	padding-right: 30px;
}
header nav ul.nav_2nd > li > a:after {
	height: 5px;
	width: 5px;
	transform: rotate(-45deg);
	border-right: 1px solid var(--i_sub_color);
	border-bottom: 1px solid var(--i_sub_color);
	top: calc(50% - 2.5px);
	right: 20px;
}
header nav ul.nav_3rd {
	padding-left: 20px;
}
header nav ul.nav_3nd li a {
	padding: 5px 20px;
}
header nav ul.nav_3rd > li > a:after {
	height: 1px;
	width: 4px;
	background: var(--i_sub_color);
	top: calc(50% - 0.5px);
	left: 5px;
}
@media screen and (min-width: 901px) {
	header nav ul.nav_1st > li > a {
		overflow: visible;
	}
	header nav ul.nav_1st > li > a:after {
		position: absolute;
		bottom: 0;
		left: 15%;
		content: '';
		width: 70%;
		height: 2px;
		background: var(--i_main_color);
		transform: scale(0, 1);
		transform-origin: left top;
		transition: transform .4s;
	}
	header nav ul.nav_1st > li > a:hover::after {
		transform: scale(1, 1);
	}
}
@media screen and (max-width: 900px) {
	body.scrolled header .logo {
		padding: 10px 0 !important;
	}
	header.open:after, 
	header .header_contents {
		background: rgba(255, 255, 255, 0.9);
	}
	header .burger li.sp_translate a svg {
		height: 28px;
		width: 28px;
		margin: 10% auto;
	}
	header .header_sns, 
	header .header_contents .header_col1,
	header .header_contents .header_col2 {
		border-top: 1px solid rgba(0, 0, 0, 0.13);
	}
	header .header_sns {
		border-bottom: none;
	}
	header .header_sns:empty,
	header .header_contents .header_col1:empty, 
	header .header_contents .header_col2:empty {
		border: none;
	}
	header .header_contents .header_col1 .tel, 
	header .header_contents .header_col1 .btn {
		float: none;
	}
	header .header_contents .header_col2 {
		display: block !important;
	}
	header nav ul.nav_1st {
		border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	}
	header nav ul.nav_1st li {
		border-top: 1px solid rgba(0, 0, 0, 0.13);
	}
	header nav ul.nav_1st > li:before, 
	header nav ul.nav_1st > li:after {
		display: none !important;
	}
	header nav ul.nav_1st > li i:before, 
	header nav ul.nav_1st > li i:after {
		background: var(--i_txt_color);
	}
	header nav ul.nav_2nd > li {
		box-shadow: none;
	}
	header nav ul.nav_3rd > li:nth-last-of-type(1) {
		border-bottom: none;
	}
	header .logo a img {
		max-width: 125px;
		max-height: 80px !important;
	}
	header nav ul.nav_1st {
		width: auto !important;
	}
	header#pattern1 nav, header#pattern3 nav {
		border: none;
	}
	header nav ul.nav_1st > li span {
		padding-bottom: 0;
	}
	header nav ul.nav_1st > li span:after {
		display: none;
	}
	header nav ul.nav_1st {
		padding-right: 0;
	}
	header .wraper > .inner {
		min-height: 45px !important;
	}
	header .header_contents .header_col1 .btn > a {
		padding: 8px 10px 9px;
	}
	header nav ul.nav_1st > li a:hover {
		opacity: 1;
	}
	header nav ul.nav_1st {
		background: none;
	}
	header nav ul.nav_2nd > li {
		box-shadow: none;
	}
}
/*----------------------------余白設定----------------------------*/
main > section:first-child:not([class*="pt"]),
main > div:first-child:not([class*="pt"]),
div[class*='pb'] + .contents_related, 
section[class*='pb'] + .contents_related, 
div[class*='pb'] + .contents_related_tags,
section[class*='pb'] + .contents_related_tags {
	padding-top: 60px;
}
main > section:not([class*="pt"]), 
main > div:not([class*="pt"]), 
aside > section:not([class*="pt"]), 
aside > div:not([class*="pt"]) {
	padding-bottom: 60px;
}
@media screen and (max-width: 800px) {
	main > section:first-child:not([class*="pt"]), 
	main > div:first-child:not([class*="pt"]), 
	div[class*='pb'] + .contents_related,
	section[class*='pb'] + .contents_related,
	div[class*='pb'] + .contents_related_tags, 
	section[class*='pb'] + .contents_related_tags {
		padding-top: 40px;
	}
	main > section:not([class*="pt"]), 
	main > div:not([class*="pt"]), 
	aside > section:not([class*="pt"]), 
	aside > div:not([class*="pt"]) {
		padding-bottom: 40px;
	}
}
/*----------------------------見出し----------------------------*/
section .content_wrapper > .heading:first-child:last-child {
	margin-bottom: 0;
}
/*--*/
section:not([class*="pt"]) .content_wrapper > .heading:first-child:last-child {
	margin-bottom: 0;
}
.heading.block_header_1, 
.heading.block_header_6 {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}
.heading.block_header_1 p, 
.heading.block_header_6 .h {
	font-weight: 500;
	font-size: 3.8rem;
	line-height: 1.4;
	position: relative;
	color: var(--i_txt_color);
	font-weight: 500;
	letter-spacing: 0.3rem !important;
}
section[style*="color: rgb(255, 255, 255);"] .heading.block_header_1 p,
section[style*="color: rgb(255, 255, 255);"] .heading.block_header_6 .h, 
div[style*="color: rgb(255, 255, 255);"] .heading.block_header_1 p, 
div[style*="color: rgb(255, 255, 255);"] .heading.block_header_6 .h {
	color: #fff;
}
.heading.block_header_1 .h,
.heading.block_header_6 p {
	font-size: 1.7rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	color: var(--i_main_color);
}
@media screen and (max-width: 900px) {
	.heading.block_header_1, 
	.heading.block_header_6 {
		margin-bottom: 20px;
	}
	.heading.block_header_1 p,
	.heading.block_header_6 .h {
		font-size: 2.5rem;
	}
	.heading.block_header_1 .h,
	.heading.block_header_6 p {
		font-size: 1.5rem;
	}
}
/*--*/
.heading.block_header_2 {
	margin-bottom: 30px;
}
section[style*="color: rgb(255, 255, 255);"] .heading.block_header_2, 
div[style*="color: rgb(255, 255, 255);"] .heading.block_header_2 {
	border-bottom-color: #fff;
}
.heading.block_header_2 .h {
	display: inline-block;
	font-weight: 500;
	font-size: 1.9rem;
	line-height: 1.5;
	position: relative;
	color: var(--i_main_color);
}
.heading.block_header_2 p {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--i_main_color);
}
.news_archive .heading.block_header_2, 
.glossary_archive .heading.block_header_2,
.widget_gallery01 .heading.block_header_2, 
.gallery_archive .heading.block_header_2 {
	border: none;
}
.widget_gallery01.add_design4 .inner_item .heading.block_header_2 {
	padding-left: 2em !important;
}
@media screen and (max-width: 800px) {
	.heading.block_header_2 {
		margin-bottom: 20px;
	}
	.heading.block_header_2 .h {
		font-size: 2.1rem;
	}
	.heading.block_header_2 .h::before {
		top: 12px !important;
	}
}
/*用語一覧*/
.glossary_archive .content_wrapper .heading.block_header_2 .h {
	padding-left: 0 !important;
	border-bottom: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	;
}
.glossary_archive .content_wrapper .heading.block_header_2 .h a {
	color: var(--i_main_color);
}
.glossary_archive .content_wrapper .heading.block_header_2 .h:before,
.glossary_archive .content_wrapper .heading.block_header_2 .h:after, 
.glossary_archive .content_wrapper .heading.block_header_2:before, 
.glossary_archive .content_wrapper .heading.block_header_2:after {
	display: none !important;
}
/*--*/
.heading.block_header_3 {
	overflow: hidden;
	background: var(--i_sub2_color);
	padding: 10px 10px 10px 10px;
	margin-bottom: 30px;
}
.heading.block_header_3 .h {
	font-weight: 500;
	font-size: 1.9rem;
	line-height: 1.5;
	color: var(--i_txt_color);
}
.heading.block_header_3 p {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--i_txt_color);
}
@media screen and (max-width: 800px) {
	.heading.block_header_3 {
		padding: 5px 5px 5px 5px;
		margin-bottom: 20px;
	}
	.heading.block_header_3 .h {
		font-size: 2.0rem;
	}
	.heading.block_header_3 p {
		font-size: 1.3rem;
	}
}
/*--*/
.heading.block_header_4 {
	margin-bottom: 15px;
}
.heading.block_header_4:before {
	display: none;
}
.heading.block_header_4 .h {
	font-size: 2.0rem;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 5px;
	color: var(--i_main_color);
}
.heading.block_header_4 p {
	font-size: 1.4rem;
	font-weight: 500;
}
/*--*/
.heading.block_header_5 {
	margin-bottom: 15px;
}
.heading.block_header_5 .h {
	display: inline;
	font-weight: 500;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.heading.block_header_5 p {
	display: inline;
	font-weight: 500;
	font-size: 1.4rem;
}
.heading.block_header_5 p:before {
	content: "　/　";
}
#sidebar .heading.block_header_5 {
	background: var(--i_sub2_color);
	color: var(--i_main_color);
	padding: 5px 15px;
}
/*----------------------------背景パララックス----------------------------*/
.parallax {
	box-shadow: 0 0 5px var(--i_shadow_color) inset;
}
/*----------------------------ボタン----------------------------*/
.contents_btn01 a, 
.glossary_archive .content_wrapper .heading.block_header_2 a:after, 
main form .submit {
	color: var(--i_btn_txt_color) !important;
	background: transparent;
	position: relative;
	display: inline-block;
	padding: 5px 15px 5px !important;
	text-align: center;
	font-family: inherit;
	font-weight: 500;
	border-radius: 99px;
	padding-bottom: 6px !important;
	z-index: 1;
	overflow: hidden !important;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06);
}
main form .submit {
	box-shadow: none;
}
main form .submit span {
	display: block;
	position: relative;
	border-radius: 99px;
	overflow: hidden;
}
.contents_btn01 a:before,
main form .submit span:before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--i_btn_hover_color);
	border-radius: 99px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: transform ease .4s;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
}
.contents_btn01 a:after, 
main form .submit span:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--i_btn_color);
	border-radius: 99px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}
.contents_btn01 a:hover, 
.glossary_archive .content_wrapper .heading.block_header_2 a:hover:after,
main form .submit:hover {
	color: var(--i_btn_hover_txt_color) !important;
}
.contents_btn01 a:hover:before, 
main form .submit span:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
.contents_btn01 a[target=_blank] span:before,
.contents_btn01 a[target=_blank] span:after {
	border: 1px solid var(--i_btn_txt_color);
	transition: ease .4s;
}
.contents_btn01 a[target=_blank] span:hover:before, 
.contents_btn01 a[target=_blank] span:hover:after {
	border: 1px solid var(--i_btn_hover_txt_color);
}
.contents_btn01 a span {
	text-align: center;
	line-height: 1.5;
	font-size: 1.5rem;
	font-weight: 500;
}
main .widget_gallery01 .contents_btn01 a, 
main .gallery_archive .inner_item .contents_btn01 a,
main .gallery_single .inner_item .contents_btn01 a, 
main * .contents_btn01 a {
	overflow: visible;
	margin-bottom: 10px;
}
main form .submit span input {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--i_btn_txt_color);
	display: block !important;
	background: transparent;
	font-family: inherit;
}
#fixbtn .inner > div {
	padding: 8px 15px !important;
}
input[id="form_submit"], input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}
@media screen and (max-width: 500px) {
	#fixbtn .inner > div {
		padding: 8px 1px !important;
	}
}
/*--------------------------------MV--------------------------------*/
#mv_outer {
	/*mvに背景とかはここを利用する*/
	position: relative;
	box-sizing: border-box;
}
#mv {
	width: 100%;
	height: 90vh;
	min-height: 500px;
	overflow: hidden;
}
#mv:after {
	/*スライドに重ねる色*/
	background: rgba(46, 40, 40, 0.2);
}
#mv .mv_text {
	height: 90%;
	align-items: flex-end !important;
	width: 100% !important;
	left: 0 !important;
	top: 0% !important;
}
#mv .mv_text > div {
	box-sizing: border-box;
	width: 95%;
	color: var(--i_bg_color);
}
#mv .mv_text span {
	text-shadow: 0 0 10px #fff;
	font-size: 4rem;
	padding: 0 10px;
	letter-spacing: 0.4rem;
}
#mv .mv_text h2 {
	font-size: 60px;
	/* ←max-font-size的意味合いで使用する。動作はjs。*/
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0.4rem;
	font-size: 3.5rem !important;
	position: relative;
}
#mv .mv_text p {
	padding-top: 10px;
	font-size: 2.2rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
}
#mv .mv_scroll {
	width: 7%;
	height: auto;
	position: absolute;
	left: auto;
	right: -2%;
	bottom: 7%;
}
#mv .mv_scroll a {
	font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
	letter-spacing: 0.3rem;
	font-size: 10px;
	position: relative;
	padding-bottom: 100px;
	height: auto;
	width: 100%;
	text-indent: 0;
	potision: relative;
	transition: all .3s ease-in-out;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
	font-weight: 500;
}
#mv .mv_scroll a::before {
	width: 1px;
	height: 70px;
	transform: none;
	position: absolute;
	bottom: 0;
	left: calc(50% - 0.5px);
	top: auto;
	background: #fff;
	transition: all .3s ease-in-out;
}
#mv .mv_scroll a:hover {
	padding-bottom: 80px;
}
#mv .mv_scroll a:hover::before {
	height: 50px;
}
#mv .mv_scroll a:hover::after {
	height: 25px;
}
#mv .mv_pointer, #mv .mv_arrow {
	display: none;
}
@media screen and (max-width: 100vh) {
	#mv {
		height: 82vh;
	}
}
@media screen and (max-width: 1360px) {
	#mv .mv_text {
		height: 60%;
	}
	#mv .mv_text h2 {
		font-size: 3vw !important;
		letter-spacing: 0.2rem;
	}
	#mv .mv_text p {
		font-size: 3rem;
		padding-top: 0px;
	}
	#mv .mv_text span {
		font-size: 4vw;
	}
}
@media screen and (max-width: 900px) {
	#mv .mv_scroll {
		right: 1%;
	}
}
@media screen and (max-width: 700px) {
	#mv .mv_text {
		height: 95%;
	}
	#mv .mv_text h2 {
		font-size: 5vw !important;
	}
	#mv .mv_text p {
		font-size: 2rem;
	}
	#mv .mv_text span {
		font-size: 6vw;
		padding: 0 5px;
	}
}
/*--------------------------------IV--------------------------------*/
#lv {
	background: #333;
	height: 400px;
	padding-bottom: 0;
	width: 100%;
}
#lv_outer {
	/*mvに背景とかはここを利用する*/
	position: relative;
}
header.over + #lv_outer #lv {
	min-height: 250px;
}
#lv div {
	opacity: 0.3;
}
#lv p {
	left: 0;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px 0
}
#lv p span {
	display: inline-block;
	font-size: 4.0rem;
	font-weight: 500;
	text-align: center;
	position: relative;
	word-break: break-all;
	line-height: 1.2;
	letter-spacing: 0.2rem;
	color: #fff;
}
@media screen and (max-width: 800px) {
	#lv {
		height: 200px;
	}
	#lv p span {
		font-size: 2.8rem;
	}
}
/*----------------------------パンくず----------------------------*/
#pan {
	padding: 0;
	border-bottom: 1px solid var(--i_border_color);
}
#pan li {
	font-size: 1.2rem;
	padding: 5px 0 3px 30px;
}
#pan li:before, 
#pan li:after {
	border-top: 1px solid var(--i_border_color);
	border-right: 1px solid var(--i_border_color);
}
/*----------------------------other parts----------------------------*/
/*--リスト--*/
.default_ul li:before {
	border-top: 1px solid var(--i_sub_color);
	border-right: 1px solid var(--i_sub_color);
	height: 5px;
	width: 5px;
	transform: rotate(45deg);
	top: 8px;
	left: 0;
}
/*--アーカイブページ カテゴリー--*/
.category1 li a {
	border: 1px solid var(--i_main_color);
	border-radius: 50px;
	font-size: 1.4rem;
	color: var(--i_main_color);
}
.category1 li a:hover, 
.category1 li a.current {
	background: var(--i_main_color);
	color: var(--i_bg_color);
}
/*--sidebar--*/
#sidebar section, 
#sidebar > div {
	border-bottom: 1px solid var(--i_border_color);
}
#sidebar h2 {
	text-align: left;
	font-size: 2.2rem;
}
#sidebar .sidebar_tag li {
	border: 1px solid var(--i_border_color);
	background: var(--i_sub2_color);
}
#sidebar .sidebar_list a {
	position: relative;
	padding-left: 15px;
}
#sidebar .sidebar_list a:before {
	content: "";
	display: block;
	position: absolute;
	border-top: 1px solid var(--i_sub_color);
	border-right: 1px solid var(--i_sub_color);
	height: 5px;
	width: 5px;
	transform: rotate(45deg);
	top: calc(50% - 3px);
	left: 0;
}
/*----------------------------pager----------------------------*/
/*アーカイブページページャー*/
.pager li a {
	height: 45px;
	width: 45px;
	line-height: 45px;
	border: 1px solid var(--i_main_color);
	font-size: 1.4rem;
	color: var(--i_main_color);
}
.pager li:not(.arrow) a:hover, 
.pager li:not(.arrow).current a {
	background: var(--i_main_color);
	color: var(--i_bg_color);
}
.pager li.arrow a {
	background: none;
}
/*----------------------------pager2----------------------------*/
/*シングルページページャー*/
.pager2 li a {
	border: 1px solid var(--i_main_color);
	color: var(--i_main_color);
	line-height: 45px;
	padding: 0 15px;
	font-size: 1.4rem;
}
.pager2 li a:hover {
	background: var(--i_main_color);
	color: var(--i_bg_color);
}
/*----------------------------popup----------------------------*/
/*画像ポップアップ拡大表示*/
.popup {
	background: rgba(255, 255, 255, 0.7);
}
.poptxt {
	font-size: 1.2rem;
}
.popnav li:before {
	border-top: 3px solid #Fff;
	border-right: 3px solid #Fff;
}
/*----------------------------footer----------------------------*/
#fixbtn {
	margin-bottom: 30px;
	font-size: 1.55rem;
}
.fixbtnwrap {
	background: var(--i_sub2_color);
}
/*▼ TEL、予約ボタンない = 追従フッター有効でない場合*/
#fixbtn.no .fixbtnwrap {
	background-color: transparent;
}
#fixbtn .fixbtntel {
	border-right: 1px solid var(--i_border_color);
}
#fixbtn .fixbtntel:nth-last-of-type(2) {
	border-right: none;
}
#fixbtn .fixbtntel a,
#fixbtn .fixbtntel span {
	font-size: 3.4rem;
	line-height: 1;
	margin-right: 10px;
	letter-spacing: 0rem;
	font-weight: 500;
}
#fixbtn .fixbtntel a:last-child, 
#fixbtn .fixbtntel span:last-child {
	margin-right: 0;
}
#fixbtn .fixbtntel svg {
	width: 22px;
	height: 22px;
	margin-right: 5px;
	fill: var(--i_txt_color);
}
#fixbtn .contents_btn01 {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
#fixbtn .contents_btn01:nth-of-type(1) {
	border-left: none;
}
#fixbtn .contents_btn01:nth-of-type(1) {
	/*▼ TELない場合中央揃え*/
	margin-left: auto;
	margin-right: auto;
}
#fixbtn .contents_btn01 a {
	padding: 0;
	color: var(--i_txt_color);
	border-color: var(--i_txt_color);
}
#fixbtn .contents_btn01 a:hover {
	border-color: var(--i_btn_color);
}
#fixbtn .contents_btn01 span {
	text-align: center;
	padding: 10px 15px;
}
/*▼ TEL、予約ボタンない = 追従フッター有効でない場合*/
#fixbtn #scrolltop:nth-of-type(1) {
	margin-left: auto;
	/*▼ 右揃え*/
	margin-right: 0;
	/*▼ 中央揃え*/
	margin-right: auto;
}
#fixbtn #scrolltop a {
	height: 40px;
	width: 40px;
}
#fixbtn #scrolltop a:before {
	transition: 0.2s ease-in-out;
	width: 40px;
	height: 40px;
	border: none !important;
	background: var(--i_txt_color);
	mask-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%20style%3D%22enable-background%3Anew%200%200%2040%2040%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%235F6368%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M30%2C11.9H10V9.2h20V11.9z%20M30%2C30.8H10l10-14.6L30%2C30.8z%20M24.7%2C28.1L20%2C21.1l-4.7%2C6.9%20C15.3%2C28.1%2C24.7%2C28.1%2C24.7%2C28.1z%22%2F%3E%3C%2Fsvg%3E');
}
#fixbtn #scrolltop a:hover:before {
	opacity: 0.7;
}
/*▼ TEL、予約ボタンない = 追従フッター有効でない場合*/
#fixbtn.no #scrolltop a:before {
	border-color: rgba(120, 120, 120, 0.6);
}
#fixbtn.no #scrolltop a:hover:before {
	border-left: 2px solid rgba(120, 120, 120, 1);
	border-top: 2px solid rgba(120, 120, 120, 1);
}
@media screen and (max-width: 600px) {
	#fixbtn {
		margin-bottom: 0;
	}
	#fixbtn,
	#fixbtn .fixbtntel a, 
	#fixbtn .fixbtntel span {
		font-size: 1.7rem;
	}
	#fixbtn .fixbtntel a, 
	#fixbtn .fixbtntel span {
		font-size: 2rem;
	}
	#fixbtn .fixbtntel svg {
		width: 18px;
		height: 18px;
	}
	#fixbtn .contents_btn01 a {
		padding: 0 !important;
		letter-spacing: 0;
	}
	#fixbtn .contents_btn01 a span {
		padding: 10px 8px 12px;
		font-size: 1.5rem !important;
	}
}
footer {
	background: var(--i_bg_color);
	padding: 0;
	color: var(--i_txt_color);
	text-align: center;
	font-size: 1.35rem;
}
footer a {
	color: var(--i_txt_color);
}
footer nav li {
	padding: 5px 0;
}
footer nav li a {
	font-weight: 500 !important;
}
footer .logo {
	width: 180px;
}
footer .sns {
	margin: 0 auto 30px;
}
footer .sns svg {
	width: 40px;
	height: 40px;
	padding: 10px 10px;
	fill: var(--i_txt_color);
	transition: 0.2s ease-in-out;
}
footer .sns a:hover svg {
	opacity: 0.8;
}
#cp {
	padding: 12px 0;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	color: var(--i_txt_color);
}
@media screen and (max-width: 600px) {
	footer {
		padding: 0 0 20px;
	}
}
@media screen and (max-width: 600px) {
	footer {
		background-position: center;
	}
	footer nav ul {
		border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	}
	footer nav ul li {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	}
	footer nav ul li:nth-last-of-type(2n) {
		border-right: 1px solid rgba(0, 0, 0, 0.13);
	}
	footer nav ul li:nth-last-of-type(2n+1) {
		border-left: 1px solid rgba(255, 255, 255, 0.1);
	}
	footer nav ul li:nth-of-type(1),
	footer nav ul li:nth-of-type(1), 
	footer nav ul li:nth-of-type(2), 
	footer nav ul li:nth-of-type(3):nth-last-of-type(2n-1) {
		border-top: 1px solid rgba(0, 0, 0, 0.13);
	}
	footer nav ul li:nth-last-of-type(1),
	footer nav ul li:nth-last-of-type(2) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	footer .logo {
		width: 130px;
		margin: 30px auto;
	}
	#fixbtn .fixbtnwrap {
		border-bottom: none;
	}
	#fixbtn .inner {
		padding: 0;
	}
}
/*------------------------------------------------------------------*/
/*----------------------------widget--------------------------------*/
/*------------------------------------------------------------------*/
/*----------------------------contents_faq01----------------------------*/
.contents_faq01 dt {
	padding-left: 5rem;
	margin-bottom: 25px;
	min-height: 35px;
	width: 100%;
	padding-right: 15px;
	box-sizing: border-box;
}
.contents_faq01 dd {
	padding-left: 7.3rem;
	margin-bottom: 15px;
	width: 100%;
	padding-right: 15px;
	box-sizing: border-box;
}
.contents_faq01 dt:before, 
.contents_faq01 dd:before {
	width: 4rem;
	height: 4rem;
	font-size: 2.6rem;
	line-height: 1.25;
	box-sizing: border-box;
	font-weight: 400;
	color: #fff;
	background: var(--i_main_color);
	text-align: center;
}
.contents_faq01 dd:before {
	font-size: 3rem;
	line-height: 1.2;
	color: var(--i_main_color);
	background: none;
	border: 1px solid var(--i_main_color);
}
/*----------------------------contents_related_tags----------------------------*/
.contents_related_tags .inner_item {
	border: 1px solid var(--i_border_color);
}
.contents_related_tags .inner_item:hover {
	background: var(--i_sub2_color);
}
.contents_related .inner_item a:hover {
	background: var(--i_sub2_color);
	opacity: 0.8;
}
/*----------------------------block_table_1----------------------------*/
.block_table_1 table thead {
	background: var(--i_sub2_color);
}
.block_table_1 table thead th, 
.block_table_1 table thead td {
	background-color: var(--i_sub2_color);
}
.block_table_1 table th {
	background-color: var(--i_sub2_color);
	border: 1px solid var(--i_border_color);
	text-align: center;
	vertical-align: middle;
}
.block_table_1 table td {
	background-color: #fff;
	border: 1px solid var(--i_border_color);
	vertical-align: middle;
}
.block_table_1 table thead td {
	text-align: center;
	font-weight: bold;
}
/*----------------------------block_table_2,5,6----------------------------*/
.block_table_2 table thead, 
.block_table_2 table thead th, 
.block_table_2 table thead td,
.block_table_5 table thead,
.block_table_5 table thead th,
.block_table_5 table thead td, 
.block_table_6 table thead,
.block_table_6 table thead th,
.block_table_6 table thead td {
	background-color: var(--i_sub2_color);
}
.block_table_2 table th, 
.block_table_5 table th,
.block_table_6 table th {
	background-color: var(--i_sub2_color);
	border: 1px solid var(--i_border_color);
	text-align: center;
	vertical-align: middle;
}
.block_table_2 table td, 
.block_table_5 table td, 
.block_table_6 table td {
	background-color: var(--i_bg_color);
	border: 1px solid var(--i_border_color);
	vertical-align: middle;
}
.block_table_2 table thead td,
.block_table_5 table thead td,
.block_table_6 table thead td {
	text-align: center;
	font-weight: bold;
}
@media screen and (max-width: 500px) {
	.block_table_2 table {
		border-bottom: 1px solid var(--i_border_color);
	}
	.block_table_2 table th {
		border-top: 1px solid var(--i_border_color);
	}
	.block_table_2 table td {
		border-top: 1px dotted var(--i_border_color);
	}
}
/*----------------------------block_table_3----------------------------*/
.block_table_3 table thead, 
.block_table_3 table thead th, 
.block_table_3 table thead td,
.block_table_7 table thead, 
.block_table_7 table thead th, 
.block_table_7 table thead td {
	background-color: var(--i_sub2_color);
}
.block_table_3 table th,
.block_table_7 table th {
	background-color: var(--i_sub2_color);
	border: 1px solid var(--i_border_color);
	text-align: center;
	vertical-align: middle;
}
.block_table_3 table td,
.block_table_7 table td {
	background-color: var(--i_bg_color);
	border: 1px solid var(--i_border_color);
	vertical-align: middle;
}
@media screen and (max-width: 500px) {
	.block_table_3 table {
		border-bottom: 1px solid var(--i_border_color);
	}
	.block_table_3 table th {
		border-top: 1px solid var(--i_border_color);
	}
	.block_table_3 table td {
		border-top: 1px dotted var(--i_border_color);
	}
}
.block_table_3_item li {
	vertical-align: middle;
}
/*----------------------------gallery_archive / gallery_single----------------------------*/
.gallery_archive .inner_item a,
.gallery_single .inner_item a {
	transition: 0.2s ease-in-out;
	background-color: transparent;
}
.gallery_archive .inner_item a:hover,
.gallery_single .inner_item a:hover {
	background-color: var(--i_main_color);
}
.gallery_archive .inner_item a:hover img,
.gallery_single .inner_item a:hover img {
	opacity: 0.8;
}
.gallery_archive .inner_item a:after, 
.gallery_single .inner_item a:after {
	color: #fff;
}
.gallery_archive .inner_item p span, 
.gallery_single .inner_item p span {
	color: #fff;
}
.gallery_single_slider .slick-arrow::before {
	border-color: var(--i_btn_color);
}
/*----------------------------widget_gallery01----------------------------*/
.widget_gallery01 .slick-arrow {
	height: 40px;
	width: 30px;
	top: calc(50% - 20px);
	left: 0;
}
.widget_gallery01 .slick-next {
	left: auto;
	right: 0;
}
/*----------------------------gallery hover効果----------------------------*/
main .widget_gallery01 a,
main .gallery_archive .inner_item a, 
main .gallery_single .inner_item a {
	overflow: hidden;
}
main .widget_gallery01 a img,
main .gallery_archive .inner_item a img, 
main .gallery_single .inner_item a img {
	/*▼ 位置調整 美容院などの人物の場合は50% 30%あたり*/
	object-fit: cover;
	object-position: 50% 50%;
	font-family: 'object-fit: cover; object-position: 50% 50%;';
	backface-visibility: visible;
	transition: 1s ease-out !important;
	transition-property: transform opacity !important;
	transform: scale(1.001, 1.001);
}
main .widget_gallery01 a:hover img,
main .gallery_archive .inner_item a:hover img,
main .gallery_single .inner_item a:hover img {
	transform: scale(1.1, 1.1);
	opacity: 0.8;
}
/*----------------------------news_archive----------------------------*/
.news_archive article .inner_item_img:hover {
	opacity: 0.8;
}
.news_archive article .entry_meta {
	font-size: 1.3rem;
}
.add_design5 #primary article .inner_item_img a i:nth-last-child(1) {
	background-size: 50% !important;
}
#sidebar .widget_news02 li a div span i {
	background-size: 50% !important;
}
/*----------------------------widget_coupon----------------------------*/
.widget_coupon .content_wrapper {
	max-width: 900px !important;
}
.widget_coupon .inner_item > div, 
.widget_coupon .inner_item > dl {
	font-size: 1.4rem;
	line-height: 1.7;
}
/*----------------------------widget_form----------------------------*/
.widget_form .privacypolicy {
	border: 1px solid var(--i_border_color);
}
.widget_form form {
	border-top: 1px solid var(--i_border_color);
}
.widget_form form dl {
	border-bottom: 1px solid var(--i_border_color);
}
.widget_form form dt, .widget_form form dd {
	vertical-align: middle;
}
.widget_form form dt span {
	color: var(--i_sub2_color);
	color: #D43B3B !important;
	font-size: 1.2rem;
	font-weight: 500;
}
@media screen and (max-width: 770px) {
	.widget_form form dt {
		border-bottom: 1px dotted var(--i_border_color);
	}
}
main form dl input, main form textarea {
	background: var(--i_sub2_color);
	border: 1px solid transparent;
	letter-spacing: 1px;
}
main form dl input:focus,
main form textarea:focus {
	background: #fff;
	border: 1px solid var(--i_border_color);
}
main form .submit input {
	letter-spacing: 3px;
	border: none;
}
main form select {
	background: var(--i_bg_color);
	border: 1px solid var(--i_border_color);
	letter-spacing: 1px;
}
main form input[type=radio] + label,
main form input[type=checkbox] + label {
	padding: 0 15px 0 22px;
}
main form input[type=radio] + label::before, 
main form input[type=checkbox] + label::before {
	top: 50%;
	left: 0;
	width: 17px;
	height: 17px;
	margin-top: -9px;
	background: var(--i_sub2_color);
}
main form input[type=radio] + label::before {
	border-radius: 30px;
}
main form input[type=radio]:checked + label::after,
main form input[type=checkbox]:checked + label::after {
	left: 4px;
	width: 9px;
	height: 9px;
	margin-top: -5px;
	background: var(--i_main_color);
}
main form input[type=radio]:checked + label::after {
	border-radius: 100%;
}
/*----------------------------widget_link----------------------------*/
.widget_link .inner_item_txt {
	font-size: 2rem;
}
.widget_link .inner_item_url {
	color: var(--i_main_color) !important;
	font-weight: 500;
}
/*----------------------------widget_lp01----------------------------*/
.widget_lp01 li a:hover {
	opacity: 0.8;
}
.widget_lp01 li a div span {
	background-size: 60% auto;
}
/*----------------------------widget_menu01----------------------------*/
.widget_menu01 h3 {
	vertical-align: central;
	font-size: 1.7rem;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.widget_menu01 li dd {
	font-size: 1.3rem;
	letter-spacing: 0;
}
/*----------------------------widget_menu02----------------------------*/
.widget_menu02 h3 {
	vertical-align: central;
	font-size: 1.7rem;
	letter-spacing: 1px;
}
.widget_menu02 li > p {
	font-size: 1.3rem;
	letter-spacing: 0;
}
/*----------------------------widget_news02----------------------------*/
.block_news_2 li {
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05) !important;
}
.block_news_2 li a {
	padding: 30px;
}
.block_news_2 li a:after {
	border: 0 solid #eee !important;
}
.block_news_2 li a:hover:after {
	border-width: 10px !important;
	;
}
.block_news_2 li:nth-child(2n) {
	background: #fff !important;
}
/*----------------------------widget_shop01----------------------------*/
.widget_staff01 .inner_item a:hover * {
	opacity: 0.8;
}
.widget_staff01 .sub {
	font-size: 1.2rem;
	font-weight: 500;
}
/*----------------------------widget_tel----------------------------*/
.widget_tel .inner_item_tel a, 
.widget_tel .inner_item_tel span {
	font-size: 3.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.1;
	padding: 20px;
}
@media screen and (max-width: 450px) {
	.widget_tel .inner_item_tel a, 
	.widget_tel .inner_item_tel span {
		font-size: 2.6rem;
		padding: 15px 10px;
	}
	.widget_tel .inner_item_tel img {
		margin: 0 5px -2px 0;
	}
	.widget_tel .inner_item_tel svg {
		height: 16px;
		width: 16px;
	}
}
/*------------------glossary_archive------------------------*/
.glossary_archive .content_wrapper article {
	margin-bottom: 30px;
	padding-bottom: 30px;
	/*★1*/
}
.glossary_archive .content_wrapper .heading.block_header_2 {
	margin-bottom: 10px;
}
.glossary_archive .content_wrapper .heading.block_header_2 .h {
	font-size: 1.8rem;
}
.glossary_archive .content_wrapper .heading.block_header_2 a:after {
	content: "View More";
	position: absolute;
	width: 150px;
	bottom: 32px;
	/*★1 + 数px*/
	right: 0;
	text-align: center;
	font-size: 1.5rem;
	font-weight: normal;
	padding: 3px 10px;
}
.glossary_archive .content_wrapper article .entry_body {
	padding-right: 180px;
}
@media screen and (max-width: 1224px) {
	.glossary_archive .content_wrapper .heading.block_header_2 a:after {
		bottom: calc(32px + 1.8rem);
		/*★1 + 数px*/
	}
}
@media screen and (max-width: 650px) {
	.glossary_archive .content_wrapper article {
		padding-bottom: 60px;
	}
	.glossary_archive .content_wrapper .heading.block_header_2 a:after {
		bottom: 30px;
		/*★1*/
	}
	.glossary_archive .content_wrapper article .entry_body {
		padding-right: 0;
	}
}
/*------------------recruit------------------------*/
.recruit_archive.add_design1 .recruitment_list .inner_item {
	background: rgba(255, 255, 255, .8);
}
.index main > section:first-child + div.composite_box01 .heading.block_header_4 .h, 
.index main > section:first-child + div + div.composite_box01 .heading.block_header_4 .h {
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
}
@media screen and (max-width: 800px) {
	.index main > section:first-child + div.composite_box01 .heading.block_header_4 .h, .index main > section:first-child + div + div.composite_box01 .heading.block_header_4 .h {
		font-size: 2.1rem;
	}
}
/*------------------blog------------------------*/
.block_news_2 li {
	box-shadow: none;
	border: 1px solid var(--i_border_color);
}
/*------------------btn中央寄せ------------------*/
@media screen and (max-width: 950px) {
	.index .contents_box01 .inner_item_txt .contents_btn01 {
		text-align: center;
	}
}
/*------------------ft調整------------------*/
@media screen and (min-width: 701px) {
	footer .logo a {
		max-width: 55% !important;
	}
	footer nav:nth-last-child(2), footer .logo {
		margin-bottom: 30px !important;
	}
}
/*------------------テキスト中央------------------*/
@media screen and (max-width: 900px) {
	a[id^="top"] + section .heading.block_header_2 {
		text-align: center;
	}
	.heading.block_header_1.align-left, 
	.heading.block_header_6.align-left {
		align-items: center;
	}
}
/*------------------TOPcss------------------*/
/*top*/
#top_left + section {
	padding-left: 70px;
	overflow: visible;
}
#top_left + section .inner_item_img {
	position: relative;
}
#top_left + section .inner_item_img img {
	transform: rotate(5deg);
}
#top_left + section .inner_item_img::before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: #cdbe9b;
	opacity: 1;
	pointer-events: none;
	z-index: -1;
	bottom: -15px;
	left: -40px;
	transform: rotate(-10deg);
}
@media screen and (max-width: 900px) {
	#top_left + section {
		padding-left: 0px;
	}
	#top_left + section .inner_item_img {
		width: 70%;
		margin: 0 auto 40px !important;
	}
	#top_left + section .inner_item_img::after {
		position: absolute;
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		background: #e2dbcb;
		opacity: 1;
		pointer-events: none;
		z-index: -2;
		bottom: -20px;
		right: -40px;
		transform: rotate(10deg);
	}
}
#top_left + section .heading.block_header_2 .h {
	line-height: 1.4;
	color: var(--i_txt_color);
	padding: 0;
	font-style: normal;
	letter-spacing: 0.3rem !important;
	font-size: 3.8rem !important;
}
#top_left + section .heading.block_header_2 p {
	font-size: 1.7rem !important;
	color: var(--i_main_color);
	letter-spacing: 0.2rem !important;
	padding: 0;
}
#top_left + section .heading.block_header_2 .h:before,
#top_left + section .heading.block_header_2 p:before {
	display: none;
}
@media screen and (min-width: 901px) {
	#top_left + section .inner_item_txt {
		padding-left: 3% !important;
	}
}
@media screen and (max-width: 900px) {
	#top_left + section .heading.block_header_2 .h {
		font-size: 2.5rem !important;
	}
	#top_left+ section .heading.block_header_2 p {
		font-size: 1.45rem !important;
		letter-spacing: 0.1rem !important;
	}
}
/*concept*/
#concept + .dec3_9.composite_box01.block_images_1 .inner_item:before {
	color: var(--i_main_color);
	background: var(--i_bg_color);
	margin-bottom: -20px;
	font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
#concept + div .heading.block_header_4 .h {
	font-size: 1.5rem;
	line-height: 1.8;
	color: var(--i_txt_color);
}
/*menu*/
#bg + section {
	max-width: 1500px;
	width: 90%;
	overflow: visible;
	height: 400px;
	z-index: 2;
}
#menu + section {
	margin-top: -250px;
	z-index: 2;
}
#menu + section > .content_wrapper {
	background: var(--i_bg_color) !important;
	padding: 60px 80px 20px;
	margin-right: 5%;
	max-width: 1200px !important;
	width: 70%;
}
@media screen and (max-width: 900px) {
	#menu + section {
		margin-top: -120px;
	}
	#menu + section > .content_wrapper {
		padding: 45px 10px 0px;
		width: 90%;
		margin: 0 auto;
	}
	#bg + section {
		width: 100%;
		height: 300px;
		background-size: cover !important;
	}
}
@media screen and (max-width: 480px) {
	#bg + section {
		height: inherit;
	}
	#menu + section {
		margin-top: -70px;
	}
}
/*service*/
#service + .composite_box01.block_images_17 .inner_item {
	background: var(--i_sub2_color);
	margin-left: 10px !important;
	margin-bottom: 20px !important;
	outline: 1px solid var(--i_main_color);
	outline-offset: -7px;
	position: relative;
}
#service + div .heading.block_header_4 {
	margin-bottom: 0;
}
#service + div .heading.block_header_4 .h {
	font-size: 2rem !important;
	color: var(--i_txt_color);
	letter-spacing: 0.3rem !important;
	margin-bottom: 0;
}
#service + div .heading.block_header_4 p {
	font-size: 1.5rem !important;
	color: var(--i_main_color) !important;
	letter-spacing: 0.1rem;
}
#service + .composite_box01.block_images_17 .inner_item > a {
	pointer-events: none;
}
@media screen and (max-width: 800px) {
	#service + .composite_box01.block_images_17 .wrapper_item {
		width: 70%;
		margin: 0 auto;
	}
	#service + .composite_box01.block_images_17 .inner_item {
		margin: 0 auto 20px !important;
		width: 100% !important;
	}
}
@media screen and (max-width: 480px) {
	#service + .composite_box01.block_images_17 .wrapper_item {
		width: 95%;
	}
	#service + div .heading.block_header_4 .h {
		font-size: 1.5rem !important;
	}
	#service + div .heading.block_header_4 p {
		font-size: 1.1rem !important;
	}
}
/*c2*/
#c2 + .composite_box01.block_images_16 .inner_item {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
}
#c2 + .composite_box01 .wrapper_item {
	justify-content: space-evenly;
}
#c2 + .composite_box01 .inner_item:nth-of-type(1):nth-last-of-type(2), 
#c2 + .composite_box01 .inner_item:nth-of-type(2):nth-last-of-type(1) {
	width: 44% !important;
	margin-bottom: 5% !important;
}
#c2 + .composite_box01.block_images_16 .inner_item .heading.block_header_4 .h {
	font-size: 2.8rem !important;
	color: var(--i_txt_color);
	letter-spacing: 0.3rem !important;
}
@media screen and (max-width: 1024px) {
	#c2 + .composite_box01.block_images_16 .inner_item_txt {
		padding: 5px;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 700px) {
	#c2 + .composite_box01 .inner_item:nth-of-type(1):nth-last-of-type(2), 
	#c2 + .composite_box01 .inner_item:nth-of-type(2):nth-last-of-type(1) {
		width: 90% !important;
		margin-left: 0 !important;
	}
}
@media screen and (max-width: 900px) {
	#c2 + .composite_box01.block_images_16 .inner_item .heading.block_header_4 .h {
		font-size: 2.5rem !important;
	}
	#c2 + .composite_box01.block_images_16 .inner_item .heading.block_header_4 p {
		font-size: 1.4rem;
		letter-spacing: 0rem;
	}
}
@media screen and (max-width: 1360px) {
	#c2 + .composite_box01.block_images_16 .inner_item_img::before {
		height: 50%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
	}
}
/* column*/
#column + .block_news_1 > .content_wrapper {
	display: grid;
	grid-template-columns: 35% 60%;
	align-items: center;
	justify-content: space-between;
	width: 80%;
}
#column + .block_news_1 .content_wrapper > .heading {
	grid-row: 1;
	grid-column: 1;
}
#column + .block_news_1 .content_wrapper > .add_text {
	grid-row: 2;
	grid-column: 1;
	font-size: 95%;
}
#column + .block_news_1 .content_wrapper > ul {
	grid-row: 1/4;
	grid-column: 2;
	min-width: 0;
	width: 100%;
}
#column + .block_news_1 .content_wrapper > .contents_btn01 {
	grid-row: 3;
	grid-column: 1;
	padding-top: 0;
	padding-left: 0;
}
#column + .block_news_1 .content_wrapper > .contents_btn01 > .content_wrapper {
	text-align: center;
	padding-left: 0;
}
#column + .block_news_1 ul > li {
	border: none !important;
	background: var(--i_sub2_color);
	padding: 5px 20px;
	margin-bottom: 20px;
}
#column + .block_news_1 li a {
	padding: 15px 0;
}
@media screen and (max-width: 900px) {
	#column + .block_news_1 > .content_wrapper {
		width: inherit;
		margin-left: inherit;
	}
}
@media screen and (max-width: 650px) {
	#column + .block_news_1 > .content_wrapper {
		display: block;
	}
	#column + .block_news_1 .content_wrapper > .contents_btn01 {
		padding-top: 30px;
		padding-left: 8px;
	}
	#column + .block_news_1 .content_wrapper > .contents_btn01 > .content_wrapper {
		text-align: center;
	}
	#column + .block_news_1 .content_wrapper > .contents_btn01 a {
		min-width: 200px;
	}
}
/*para*/
#seo_c + section > .content_wrapper {
	background: rgb(255 255 255 / 25%) !important;
	padding: 60px 60px 60px;
	outline: 1px solid rgb(255 255 255 / 50%);
	outline-offset: -10px;
	width: 90%;
}
@media screen and (max-width: 1200px) {
	#seo_c + section > .content_wrapper {
		padding: 45px 15px;
		width: 95% !important;
	}
}
#seo_c + section .parallax_img {
	filter: brightness(50%) contrast(120%) blur(1px);
	opacity: 0.9;
}
/*--------mv css---------*/
@media screen and (min-width: 901px) {
	#mv {
		transform: scale(0.95);
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
		width: 90%;
	}
}

/*下層*/
#sub+.dec2_1:not(.composite_box01):not(.block_text_6) .wrapper_item{
    background: var(--i_sub2_color);
}
a[id*="sub"] + section {
	overflow: visible;
}
a[id*="sub"] + section .inner_item_img {
	position: relative;
	z-index: 1;
}
a[id*="sub"] + section .inner_item_img::before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: #cdbe9b;
	opacity: 1;
	pointer-events: none;
	z-index: -1;
	bottom: -5px;
	right: -20px;
	transform: rotate(5deg);
}
a[id*="sub"] + section.block_image_text_3 .inner_item_img::before {
	transform: rotate(-5deg);
	bottom: -5px;
	left: -20px;
}
a[id*="sub"] + [class*="dec2_"][class*="block_text_"]:not([class*="block_image_text_"]):not([class*="block_text_6"]) .wrapper_item,
a[id*="sub"] + [class*="dec2_"][class*="block_image_"]:not([class*="block_image_text_"]) .wrapper_item,
a[id*="sub"] + [class*="dec2_"].contents_box01.block_text_6 .inner_item_txt,
a[id*="sub"] + [class*="dec2_"][class*="block_image_text_"]:not([class*="block_image_text_11"]):not([class*="block_image_text_12"]) .wrapper_item{
	padding: 40px 60px !important;
}
@media screen and (max-width: 1000px){
	a[id*="sub"] + [class*="dec2_"][class*="block_text_"]:not([class*="block_image_text_"]):not([class*="block_text_6"]) .wrapper_item,
	a[id*="sub"] + [class*="dec2_"][class*="block_image_"]:not([class*="block_image_text_"]) .wrapper_item,
	a[id*="sub"] + [class*="dec2_"].contents_box01.block_text_6 .inner_item_txt,
	a[id*="sub"] + [class*="dec2_"][class*="block_image_text_"]:not([class*="block_image_text_11"]):not([class*="block_image_text_12"]) .wrapper_item{
		padding: 30px 25px !important;
	}
}

/*----------------SPヘッダー下メニュー追加----------------*/
/*ヘッダー下メニュー追加*/
.header_under{
    width: 100%;
    height: auto;
    display:none;
}
.header_under ul{
    display: flex;
    background: #fff;
}
.header_under ul li{
    width: 25%;
    border-right: 1px solid var(--i_border_color);
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
}
.header_under ul li:last-child{
    border-right: 0px solid var(--i_border_color);
}
.header_under ul li a{
    color: var(--i_txt_color);
    display: block;
}
header{
    border-bottom: none;
}
@media screen and (max-width: 900px){
    .header_under{
        display:block;
        border-top: 1px solid var(--i_border_color);
        border-bottom: 1px solid var(--i_border_color);
    }
    header {
        background: #fff;
    }
    header.width_full .wraper {
        background: #fff;
    }
}
.header_under ul li a{
    position: relative;
    padding-bottom: 1px;
}

/*ヘッダー下アイコン*/
.header_under ul li a:before{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    top: 6px;
    left: 0;
    background: url("/common/upload_data/siozakiteiencojp/image/20240909145855.png") no-repeat top center / contain;
    pointer-events: none;
}
.header_under ul li:nth-of-type(2) a:before{
    background: url("/common/upload_data/siozakiteiencojp/image/20240909145852.png") no-repeat top center / contain;
}
.header_under ul li:nth-of-type(3) a:before{
    background: url("/common/upload_data/siozakiteiencojp/image/20240909145858.png") no-repeat top center / contain;
}
.header_under ul li:nth-of-type(4) a:before{
    background: url("/common/upload_data/siozakiteiencojp/image/20240909145850.png") no-repeat top center / contain;
}

/*ヘッダー下調整*/
.header_under ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(1rem, 3vw,2rem);
}
@media screen and (max-width: 900px){
    .header_under ul li a{
      padding-top: 20%;
    }
    .header_under ul li a:before{
      top: 15%;
      height: 40%;
    }
}
@media screen and (max-width: 480px){
    .header_under ul li{
    }
    .header_under ul li a{
      padding-top: 38%;
    }
    .header_under ul li a:before{
      top: 8%;
      height: 45%;
    }
}